:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 0 5px;
    padding: 0 0 16px;
}

.cinema {
    &-img img {
        width: 100%;
        border-bottom: 1px solid #b1b1b1;
    }
    
    &-info {
        padding: 8px;
        text-align: center;
        width: 100%;
    }

    &-title {
        font-size: 18px;
    }

    &-navigation {
        display: flex;
        justify-content: flex-end;
        .submit-button {
            text-decoration: none;
            display: block;
            border: 1px solid;
            border-radius: 4px;
            padding: 4px 8px;
            cursor: pointer;
        }
    }
}


